<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="../../../../bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="main">
            <directory suffix="Test.php">./</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
            <exclude>
                <directory>../src/Services/Update/updates</directory>
                <directory>../src/Testing</directory>
                <file>../src/BeltCoreServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="API_THROTTLE" value="99999,1"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="CLIP_DEFAULT_DRIVER" value="local"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
