<tr>
    <td>{{ workRequest.id }}</td>
    <td class="text-center">
        <i v-if="workRequest.is_open" class="fa fa-check-square"></i>
        <i v-else class="fa fa-square-o"></i>
    </td>
    <td>{{ workRequest.workflow.name }}</td>
    <td>
        <template v-if="workableEditUrl">
            <a :href="workableEditUrl">{{ workableLabel }}</a>
        </template>
        <template v-else>
            {{ workableLabel }}
        </template>
    </td>
    <td>{{ workRequest.place }}</td>
    <td>{{ datetime(workRequest.created_at, 'L LT') }}</td>
    <td>{{ datetime(workRequest.updated_at, 'L LT') }}</td>
    <td class="text-right">
        <actions :work_request_id="workRequest.id" :work_request_data="workRequest"></actions>
    </td>
</tr>